{% block page_footer %}
    <footer>
        <hr>
        <p>
            {% if page.extra.author %}
                Published by {{ page.extra.author }}
            {% elif page.authors and page.authors | length == 1 %}
                Published by {{ page.authors[0] }}
            {% elif page.authors and page.authors | length > 1 %}
                Published by {{ page.authors | join(sep=", ") }}
            {% elif config.author %}
                Published by {{ config.author }}
            {% endif %}
            {% if page.taxonomies.categories %}
                {% set category = page.taxonomies.categories[0] %}
                in <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
            {% endif %}
            {% if page.taxonomies.tags %}
                {% if page.taxonomies.categories %}and{% endif %}
                tagged
                {% for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
                    {% if page.taxonomies.tags | length > 1 %}
                        {% if loop.index != page.taxonomies.tags | length %}
                            {% if loop.index == page.taxonomies.tags | length - 1 %}
                                and
                            {% else %}
                                ,
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <!-- Revision history (optional) -->
        {% block revision_history %}
          {% if config.extra.revision_history | default(value="false") %}
            {% if page.extra.revision_history | default(value="false") %}
              {% if config.extra.blog_github_repo_url %}
                {% set base_url = config.extra.blog_github_repo_url | trim_end_matches(pat="/") %}
                {% set commits_url = base_url ~ "/commits/main/content/" ~ page.relative_path %}
                <section class="revision-history">
                  <a href="{{ commits_url }}" target="_blank" rel="noopener noreferrer">
                    (revision history)
                  </a>
                </section>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endblock revision_history %}

        {% block extra_footer %}
        {% endblock extra_footer %}
    </footer>
{% endblock page_footer %}
