{% set youtube_url = "https://www.youtube.com/embed/" ~ id %}

{# Optional parameters #}
{% set params = [] %}
{% if playlist %}
  {% set params = params | concat(with="list=" ~ playlist) %}
{% endif %}
{% if autoplay %}
  {% set params = params | concat(with="autoplay=1") %}
{% endif %}
{% if start_time_s %}
  {% set params = params | concat(with="start=" ~ start_time_s) %}
{% endif %}
{% if captions %}
  {% set params = params | concat(with="cc_load_policy=1") %}
{% endif %}

{% if params | length > 0 %}
  {% set params = params | join(sep="&") %}
  {% set youtube_url = youtube_url ~ "?" ~ params %}
{% endif %}

<div class="responsive-iframe"
  style="width: 100%; max-width: {% if width %}{{ width }}{% else %}100{% endif %}%; margin: 0 auto; text-align: center;">
  <iframe
    src="{{ youtube_url }}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
  </iframe>
</div>
